.project
.settings
!.editorconfig
!.envFiles
.envFiles/*.env
**/.DS_Store

# don't ignore node_modules dotfiles, except the .bin and .cache dirs
!/node_modules/**/.*
/node_modules/.bin
/node_modules/.cache
